@model DevBuild.WebRegistration.Models.SiteUser

@Styles.Render("~/Content/misc.css")
@Scripts.Render("~/Scripts/registration-utilities.js")

@{
    ViewBag.Title = "Registration";
    if (ViewData.ModelState.Count > 0)
    {
        @Html.ValidationSummary(false, "Please fix the following errors: ", new { @class = "alert alert-danger" })
    }
}

@*check mark, unicode: '\u2713' *@
@*negation mark, unicode: '\u2715' *@

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <h2>Registration page</h2>
    <fieldset class="form-field">
        @Html.LabelFor(m => m.FirstName, "First Name ")
        @Html.TextBoxFor(m => m.FirstName, new { maxlength = 10, @class = "user-entry-required" })
        <span id="FirstNameErrorFeedback" class="user-entry-required-display"></span>
    </fieldset>
    <br />
    <fieldset class="form-field">
        @Html.LabelFor(m => m.LastName, "Last Name ")
        @Html.TextBoxFor(m => m.LastName, new { required = "required", @class = "user-entry-required" })
        <span id="LastNameErrorFeedback" class="user-entry-required-display"></span>
    </fieldset>
    <br />
    <fieldset class="form-field">
        @Html.LabelFor(m => m.Password, "Choose Password ")
        @Html.PasswordFor(m => m.Password, new { required = "required", @class = "user-entry-required" })
        <span id="LastNameErrorFeedback" class="user-entry-required-display"></span>
    </fieldset>
    <br />
    <fieldset class="form-field">
        @Html.LabelFor(m => m.PasswordConfirm, "Confirm Password ")
        @Html.PasswordFor(m => m.PasswordConfirm, new { required = "required", @class = "user-entry-required" })
        <span id="LastNameErrorFeedback" class="user-entry-required-display"></span>
    </fieldset>

    <br />
    <fieldset class="form-field">
        @Html.LabelFor(m => m.Email, "Email Address ")
        @Html.TextBoxFor(m => m.Email, new { required = "required", @class = "user-entry-required" })
        <span id="EmailAddressErrorFeedback" class="user-entry-required-display"></span>
    </fieldset>
    <br />
    <br />
    <fieldset class="form-field">
        @Html.LabelFor(m => m.Birthday, "Birth Date ", new { style = "white-space:pre-line" })
        @Html.TextBoxFor(m => m.Birthday, new { maxlength = 30 })
        <span id="BirthdayErrorFeedback"></span>
        <br />
        @Html.LabelFor(m => m.Birthday, "(for free stuff!)")
    </fieldset>
    <br />
    <fieldset class="form-field">
        @Html.LabelFor(m => m.PhoneNumber, "Cellphone Number: ", new { style = "white-space:pre-line" })
        @Html.TextBoxFor(m => m.PhoneNumber, new { type = "tel", maxlength = 13, @class = "cellnumber-field", style = "white-space:pre-line" })
        <span id="CellphoneErrorFeedback"></span>
        <br />
        @Html.LabelFor(m => m.PhoneNumber, "(For optional text alerts and deals)")
    </fieldset>
    <br />
    <fieldset class="form-field">
        @Html.CheckBoxFor(m => m.SubscribeToEmails)
        @Html.LabelFor(m => m.SubscribeToEmails, "Annoy me with emails, occasionally send me a coupon ")
    </fieldset>
    <fieldset class="form-field">
        @Html.CheckBoxFor(m => m.SubscribeToTextAlerts)
        @Html.LabelFor(m => m.SubscribeToTextAlerts, "Send me text messages to keep track of my store credit")
    </fieldset>

    <br /><br />
    <button type="Submit" value="Submit(this)" onclick="ClientSideValidation()">Submit</button>
    <!--onclick="ClientSideValidation()"-->
    <br /><br />
    <a href="mailto:JoshuaZimmerman@quickenloans.com">Gripe</a>
}

